#vfSubCard {
  font-size: 16px;
  margin-top: 30px;
  color: black;
  font-weight: bold;
}

#vfHeadCard {
  font-size: 30px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

#vfHomeSlide {
  background: #213061;
}

#vfCard {
  height: 150px;
  width: 95%;
  background-color: rgb(207, 207, 207);
  margin-bottom: 30px;
}
