<ion-slides>
  <ion-slide>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">ENTREVISTAS</ion-card-title>
        <ion-card-subtitle id="vfSubCard">The Wild Project, El sentido de la birra, Club 113 </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">CULTURA POP</ion-card-title>
        <ion-card-subtitle id="vfSubCard">Raideos y Mazmorras, Charlando tranquilamente, Yo Interneto</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card color="success">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">RANDOM</ion-card-title>
        <ion-card-subtitle id="vfSubCard">Radio Pirata, Nadie sabe nada, Familia de libro</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>