<!-- Slides -->
<ion-slides id="vfHomeSlide">
  <!-- Entrevistas -->
  <ion-slide>
    <ion-card class="h-100 w-auto bg-light mb-3" (click)="goInterview()">
      <ion-card-header>
        <ion-card-title class="fs-1 mt-1 text-black fw-bold"
          >ENTREVISTAS</ion-card-title
        >
        <ion-card-subtitle class="mt-3 text-black fw-bold"
          >The Wild Project, Nude Project, Club 113
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <!-- Freak -->
  <ion-slide>
    <ion-card class="h-100 w-auto bg-light mb-3" (click)="goFreak()">
      <ion-card-header>
        <ion-card-title class="fs-1 mt-1 text-black fw-bold"
          >FREAK</ion-card-title
        >
        <ion-card-subtitle class="mt-3 text-black fw-bold"
          >Raideos y Mazmorras, Territorio revival, Alex al
          habla</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <!-- Random -->
  <ion-slide>
    <ion-card class="h-100 w-auto bg-light mb-3" (click)="goRandom()">
      <ion-card-header>
        <ion-card-title class="fs-1 mt-1 text-black fw-bold"
          >RANDOM</ion-card-title
        >
        <ion-card-subtitle class="mt-3 text-black fw-bold"
          >Radio Pirata, Nadie sabe nada, Yo, Interneto</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
