#vfSubCard {
  color: black;
  font-weight: bold;
}

#vfHeadCard {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#vfHomeSlide {
  background: #7e9af5;
}

#vfCard {
  background-color: rgb(207, 207, 207);
}
