<ion-slides id="vfHomeSlide">
  <ion-slide>
    <ion-card id="vfCard">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">ENTREVISTAS</ion-card-title>
        <ion-card-subtitle id="vfSubCard"
          >The Wild Project, El sentido de la birra, Club 113
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card id="vfCard">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">FREAK</ion-card-title>
        <ion-card-subtitle id="vfSubCard"
          >Raideos y Mazmorras, Territorio revival, Alex al habla</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ion-slide>
  <ion-slide>
    <ion-card id="vfCard">
      <ion-card-header>
        <ion-card-title id="vfHeadCard">RANDOM</ion-card-title>
        <ion-card-subtitle id="vfSubCard"
          >Radio Pirata, Nadie sabe nada, Yo Interneto</ion-card-subtitle
        >
      </ion-card-header>
    </ion-card>
  </ion-slide>
</ion-slides>
