<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Edades </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <ion-label id="vfTimeUseLb">Adicción a la tecnologia por edades</ion-label>

  <!-- Gráfico de uso -->
  <div id="vfGraph">
    <app-time-graphic></app-time-graphic>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter">
  <app-time-footer></app-time-footer>
</ion-footer>
