ion-content {
  --ion-background-color: #213061;
}

#vfTitulo {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#vfGraph {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

#vfToolbar {
  --background: #4a6cdf;
}
