<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title class="justify-content-center d-flex text-center fs-2 fw-bold">
      Adicción a la tecnología
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Info (adicción) -->
  <app-time-info></app-time-info>

  <!-- Gráfico de uso -->
  <div id="vfGraph" class="d-flex justify-content-center m-autor p-1">
    <app-time-graphic></app-time-graphic>
  </div>

  <!-- Saber más (adicción a tecnología) -->
  <app-time-modal></app-time-modal>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter" class="ion-no-border">
  <app-time-footer></app-time-footer>
</ion-footer>
