#vfCard {
  margin: auto;
  display: block;
  --background: transparent;
}

#vfTitle {
  text-align: center;
  color: white;
}

#vfSub {
  text-align: center;
  color: white;
}

#vfContent {
  text-align: center;
  color: white;
}
