<!-- Contenido modal redes sociales -->
<ion-card class="text-center text-white bg-success w-50 m-auto mt-3 mb-3">
  <ion-card-header>
    <ion-card-subtitle class="fw-bold fs-3 text-white"
      >Adriá Solá Pastor</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content class="fw-bold">
    En este vídeo, Adriá nos habla acerca del impacto que tienen las redes
    sociales en nuestra vida y sobre las consecuencias de no tener un control
    sobre ellas.
  </ion-card-content>
</ion-card>
