<!-- Podcasts freak -->
<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Raideos y Mazmorras</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Revenant</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a href="https://www.youtube.com/playlist?list=PLv06IS2RVHF1La02gPCKMYZREczf-Upxb"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube2"
    /></a>
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Territorio Revival</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >Fer Delgado, Ángel Colomé y Miguel Delgado</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a
      href="https://open.spotify.com/show/2LhtgiX8tm9uaXdKFNAtmS"
      target="_blank"
    >
      <img
        src="../../../../assets/pics/home/spotify.png"
        alt="spotify"
        id="vfSpotify"
      />
    </a>
    <a href="https://www.youtube.com/@TerritorioRevival"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube"
    /></a>
    <a
      href="https://podcasts.apple.com/es/podcast/territorio-revival/id1601368922"
      ><img
        src="../../../../assets/pics/home/apple.png"
        alt="apple"
        id="vfApple"
    /></a>
    <a
      href="https://www.ivoox.com/podcast-territorio-revival_sq_f11428924_1.html"
      ><img
        src="../../../../assets/pics/home/ivoox.png"
        alt="ivoox"
        id="vfIvoox"
    /></a>
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Alex al habla</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Alexelcapo</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a
      href="https://open.spotify.com/show/2HkAVYqT5oaapdcLLGvyYV"
      target="_blank"
    >
      <img
        src="../../../../assets/pics/home/spotify.png"
        alt="spotify"
        id="vfSpotify"
      />
    </a>
    <a href="https://www.youtube.com/@alexelcapo"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube"
    /></a>
    <a
      href="https://podcasts.apple.com/es/podcast/alex-al-habla-podcast/id1549545548"
      ><img
        src="../../../../assets/pics/home/apple.png"
        alt="apple"
        id="vfApple"
    /></a>
    <a
      href="https://www.ivoox.com/podcast-alex-al-habla-podcast_sq_f11161982_1.html"
      ><img
        src="../../../../assets/pics/home/ivoox.png"
        alt="ivoox"
        id="vfIvoox"
    /></a>
  </ion-card-header>
</ion-card>
