<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Raideos y Mazmorras</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Revenant</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard">Plataformas disponibles:</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Territorio Revival</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Fer Delgado, Ángel Colomé y Miguel Delgado</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard">Plataformas disponibles:</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Alex al habla</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Alexelcapo</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard">Plataformas disponibles:</ion-card-subtitle>
  </ion-card-header>
</ion-card>

