
#vfSpotify{
  margin-top: 10px;
  width: 40px;
}

#vfYoutube{
  margin-left: 40px;
  width: 45px;
}

#vfYoutube2{
  width: 45px;
}

#vfApple{
  margin-left: 40px;
  width: 35px;
}

#vfIvoox{
  margin-left: 40px;
  width: 40px;
}
