<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Info </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <div>
    <!-- Usuario -->
    <ion-item id="vfItem">
      <ion-label>Usuario: </ion-label>
    </ion-item>

    <!-- Email -->
    <ion-item id="vfItem">
      <ion-label>Email: </ion-label>
    </ion-item>
  </div>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter">
  <app-info-footer></app-info-footer>
</ion-footer>
