ion-content {
  --ion-background-color: #213061;
  --overflow: hidden;
}

#vfTitulo {
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#vfToolbar {
  --background: #4a6cdf;
}



