<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title class="justify-content-center d-flex text-center fs-2 fw-bold"> Podcast </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Visualizar podcast -->
  <app-action-podcasts></app-action-podcasts>
</ion-content>

<!-- Footer -->
<ion-footer id="vfToolbar" class="ion-no-border"
  ><app-action-footer></app-action-footer>
</ion-footer>
