<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbarTop">
    <!-- Título -->
    <ion-title id="vfTitulo"> Más usadas </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <ion-label id="vfTimeUseLb">Aplicaciones más usadas</ion-label>

  <!-- Saber más -->
  <app-most-used-modal></app-most-used-modal>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter">
  <app-most-used-footer></app-most-used-footer>
</ion-footer>
