<!-- Info adicción a la tecnología -->
<ion-card class="text-center text-white bg-success w-50 m-auto mt-3 mb-3">
  <ion-card-header>
    <ion-card-subtitle class="fw-bold fs-3 text-white"
      >Gráfico de edades</ion-card-subtitle
    >
  </ion-card-header>

  <ion-card-content class="fw-bold">
    Gráfico el cual muestra el porcentaje de adicción a la tecnología por
    edades, los rangos más altos son desde los 13 a los 17 años (73%) y desde
    los 18 a los 24 (71%).
  </ion-card-content>
</ion-card>
