<!-- Header -->
<ion-header class="ion-no-border">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar" class="ion-no-border">
    <!-- Título -->
    <ion-title class="mt-2 text-center fs-1 fw-bold">Voice Finder</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido -->
<ion-content class="ion-padding">
  <!-- Contenido móvil -->
  <div class="mobile-content">
    <!--Logo vf -->
    <img src="../../assets/pics/login/logoVf.png" class="d-block mb-3 mx-auto ms-auto" />

    <!-- Formulario -->
    <form (ngSubmit)="login()" [formGroup]="cred">
      <!-- Campo email -->
      <ion-item class="ion-margin-bottom">
        <ion-input
          id="vfEmail"
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors"
          >Email incorrecto</ion-note>
      </ion-item>

      <!-- Campo contraseña -->
      <ion-item class="ion-margin-bottom">
        <ion-input
          id="vfPass"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors"
          >La contraseña debe tener más de 6 carácteres</ion-note>
      </ion-item>

      <div class="container">
        <!-- Botón login -->
        <div class="row">
          <button class="btn btn-success btn-lg fw-bold mt-4 mb-5 pt-2 pb-2" type="submit">Iniciar sesión</button>
        </div>
        <!-- Botón registrarse -->
        <div class="row">
          <button class="btn btn-primary btn-lg fw-bold pt-2 pb-2" type="button" (click)="register()">Registrarse</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Contenido escritorio -->
  <div class="desktop-content">
    <!--Logo vf -->
    <img src="../../assets/pics/login/logoVf.png" class="d-block mb-3 mx-auto ms-auto" />

    <!-- Formulario -->
    <form (ngSubmit)="login()" [formGroup]="cred">
      <!-- Campo email -->
      <ion-item class="ion-margin-bottom">
        <ion-input
          id="vfEmailDesktop"
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(email.dirty || email.touched) && email.errors"
          >Email incorrecto</ion-note>
      </ion-item>

      <!-- Campo contraseña -->
      <ion-item class="ion-margin-bottom">
        <ion-input
          id="vfPassDesktop"
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        ></ion-input>
        <ion-note
          slot="error"
          *ngIf="(password.dirty || password.touched) && password.errors"
          >La contraseña debe tener más de 6 carácteres</ion-note>
      </ion-item>
      <!-- Botón login -->
      <ion-item>
        <button
        id="vfLoginDesktop"
        class="btn btn-success btn-lg fw-bold w-auto m-auto ps-4 px-4 d-inline-block"
        type="submit"
        >Iniciar sesión</button>
      <!-- Botón registrarse -->
      <button
        class="btn btn-primary btn-lg fw-bold w-auto m-auto ps-4 px-4 d-inline-block"
        id="vfRegisterDesktop"
        (click)="register()"
        >Registrarse</button>
      </ion-item>
    </form>
  </div>
</ion-content>
