ion-content {
  --ion-background-color: #213061;
  --overflow: hidden;
}

ion-toolbar {
  --background: #213061;
  --ion-color-base: transparent !important;
  height: 100px;
}

ion-item {
  color: white;
  --background: transparent !important;
  ion-input {
    --placeholder-color: white;
    --placeholder-opacity: 1;
  }
}


.mobile-content {
  display: block;
}

.desktop-content {
  display: none;
}

/* Media query para pantallas grandes */
@media (min-width: 769px) {
  .mobile-content {
    display: none;
  }

  .desktop-content {
    display: block;
  }

  ion-item {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    --inner-border-width: 0px;
  }
}
