ion-content {
  --ion-background-color: #213061;
  --overflow: hidden;
}

ion-toolbar {
  --background: #213061;
  --ion-color-base: transparent !important;
  height: 100px;
}

ion-item {
  color: white;
  --background: transparent !important;
  ion-input {
    --placeholder-color: white;
    --placeholder-opacity: 1;
  }
}

#vfLogo {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#vfLogoDesktop {
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 10%; /* Tamaño diferente para escritorio */
}

#vfTitulo {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}


.mobile-content {
  display: block;
}

.desktop-content {
  display: none;
}

/* Media query para pantallas grandes */
@media (min-width: 769px) {
  .mobile-content {
    display: none;
  }

  .desktop-content {
    display: block;
  }

  #vfLoginDesktop, #vfRegisterDesktop {
    display: inline-block;
    width: auto;
    margin: 20px auto; /* Centrar horizontalmente */
    padding-left: 20px;
    padding-right: 20px;
  }

  ion-item {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    --inner-border-width: 0px;
  }
}
