<!-- Header -->
<ion-header class="ion-no-border">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar" class="ion-no-border">
    <!-- Título -->
    <ion-title id="vfTitulo">Voice Finder</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content class="ion-padding">
  <!--Logo vf -->
  <img src="../../assets/pics/login/logoVf.png" id="vfLogo" />

  <!-- Formulario -->
  <form (ngSubmit)="login()" [formGroup]="cred">
    <!-- Campo email -->
    <ion-item class="ion-margin-bottom">
      <ion-input
        id="vfEmail"
        type="email"
        placeholder="Email"
        formControlName="email"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(email.dirty || email.touched) && email.errors"
        >Email incorrecto</ion-note
      >
    </ion-item>

    <!-- Campo contraseña -->
    <ion-item class="ion-margin-bottom">
      <ion-input
        id="vfPass"
        type="password"
        placeholder="Contraseña"
        formControlName="password"
      ></ion-input>
      <ion-note
        slot="error"
        *ngIf="(password.dirty || password.touched) && password.errors"
        >La contraseña debe tener más de 6 carácteres</ion-note
      >
    </ion-item>
    <!-- Botón login -->
    <ion-button
      shape="round"
      size="large"
      id="vfLogin"
      color="primary"
      type="submit"
      expand="block"
      >Iniciar sesión</ion-button
    >
    <!-- Botón registrarse -->
    <ion-button
      id="vfRegister"
      shape="round"
      size="large"
      type="button"
      expand="block"
      color="dark"
      fill="outline"
      (click)="register()"
      >Registrarse</ion-button
    >
  </form>
</ion-content>
