#vfSubCard {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#vfHeadCard {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

#vfCard {
  background-color: rgb(207, 207, 207);
}

#vfButton {
  background-color: rgb(207, 207, 207);
}
