<!-- Sección redes sociales -->
<ion-card class="w-50 m-auto mt-3 text-center bg-light">
  <ion-card-header>
    <ion-card-title class="fw-bold text-black w-auto"
      >Redes sociales</ion-card-title
    >
    <ion-card-subtitle class="fw-bold text-black w-auto"
      >¿Cómo nos afectan?</ion-card-subtitle
    >
    <ion-card-content
      ><button
        type="button"
        (click)="goMostUsed()"
        class="btn btn-primary btn-lg w-50"
      >
        <ion-icon name="alert-circle-outline"></ion-icon></button
    ></ion-card-content>
  </ion-card-header>
</ion-card>

<!-- Sección adicción a la tecnologia -->
<ion-card class="w-50 m-auto mt-3 text-center bg-light">
  <ion-card-header>
    <ion-card-title class="fw-bold text-black w-auto"
      >Adicción a la tecnología</ion-card-title
    >
    <ion-card-subtitle class="fw-bold text-black w-auto"
      >Gráfico por edades</ion-card-subtitle
    >
    <ion-card-content
      ><button
        type="button"
        (click)="goAge()"
        class="btn btn-primary btn-lg w-50"
      >
        <ion-icon name="globe-outline"></ion-icon></button
    ></ion-card-content>
  </ion-card-header>
</ion-card>

<!-- Sección aplicaciones más usadas -->
<ion-card class="w-50 m-auto mt-3 text-center bg-light">
  <ion-card-header>
    <ion-card-title class="fw-bold text-black w-auto"
      >Aplicaciones más usadas</ion-card-title
    >
    <ion-card-subtitle class="fw-bold text-black w-auto"
      >¿Cuáles son?</ion-card-subtitle
    >
    <ion-card-content
      ><button
        type="button"
        (click)="goUseTime()"
        class="btn btn-primary btn-lg w-50"
      >
        <ion-icon name="call-outline"></ion-icon></button
    ></ion-card-content>
  </ion-card-header>
</ion-card>
