<!-- GRÁFICO DE EDADES-->
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Adicción a la tecnología</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Gráfico por edades</ion-card-subtitle>
    <ion-card-content>
      <ion-button
        type="button"
        (click)="goAge()"
        color="dark"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card-header>
</ion-card>

<!-- GRÁFICO DE USO-->
<ion-card color="success">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Tiempo de uso</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Uso diario del móvil</ion-card-subtitle>
    <ion-card-content
      ><ion-button
        type="button"
        (click)="goUseTime()"
        color="dark"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="call-outline"></ion-icon> </ion-button
    ></ion-card-content>
  </ion-card-header>
</ion-card>

<!-- GRÁFICO DE APLICACIONES-->
<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Redes sociales</ion-card-title>
    <ion-card-subtitle id="vfSubCard">¿Cómo nos afectan?</ion-card-subtitle>
    <ion-card-content
      ><ion-button
        type="button"
        (click)="goMostUsed()"
        color="dark"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="alert-circle-outline"></ion-icon> </ion-button
    ></ion-card-content>
  </ion-card-header>
</ion-card>
