<!-- GRÁFICO DE REDES SOCIALES-->
<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Redes sociales</ion-card-title>
    <ion-card-subtitle id="vfSubCard">¿Cómo nos afectan?</ion-card-subtitle>
    <ion-card-content
      ><ion-button
        type="button"
        (click)="goMostUsed()"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="alert-circle-outline"></ion-icon> </ion-button
    ></ion-card-content>
  </ion-card-header>
</ion-card>

<!-- GRÁFICO DE EDADES-->
<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Adicción a la tecnología</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Gráfico por edades</ion-card-subtitle>
    <ion-card-content>
      <ion-button
        id="vfButton"
        type="button"
        (click)="goAge()"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="globe-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card-header>
</ion-card>

<!-- GRÁFICO DE USO-->
<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Aplicaciones más usadas</ion-card-title>
    <ion-card-subtitle id="vfSubCard">¿Cuales son?</ion-card-subtitle>
    <ion-card-content
      ><ion-button
        type="button"
        (click)="goUseTime()"
        shape="round"
        size="large"
        expand="block"
      >
        <ion-icon name="call-outline"></ion-icon> </ion-button
    ></ion-card-content>
  </ion-card-header>
</ion-card>
