<ion-slides id="vfHomeSlide2">
  <ion-slide>
        <img id="vfPodcastPic" alt="Adria Sola Pastor" src="../../assets/pics/home/1.jpg" />
        <ion-label id="vfPodcastLb">Clara Carmona</ion-label>
  </ion-slide>
  <ion-slide>
        <img id="vfPodcastPic" alt="The Wild Project" src="../../assets/pics/home/2.jpg" />
        <ion-label id="vfPodcastLb">Adria Sola Pastor</ion-label>
  </ion-slide>
  <ion-slide>
        <img  id="vfPodcastPic"alt="Jordi Wu" src="../../assets/pics/home/3.jpg" />
        <ion-label id="vfPodcastLb">Charlando tranquilamente</ion-label>
  </ion-slide>
  <ion-slide>
        <img id="vfPodcastPic" alt="Charlando tranquilamente" src="../../assets/pics/home/4.jpg" />
        <ion-label id="vfPodcastLb">Yo Interneto</ion-label>
  </ion-slide>
  <ion-slide>
        <img id="vfPodcastPic" alt="Yo Interneto" src="../../assets/pics/home/5.jpg" />
        <ion-label id="vfPodcastLb">Jordi Wu</ion-label>
  </ion-slide>
</ion-slides>