<!-- Fab button -->
<ion-fab class="mt-2">
  <!-- Botón micrófono -->
  <ion-fab-button size="small" color="dark">
    <ion-icon name="mic-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="top">
    <!-- Botón ver podcasts -->
     <ion-fab-button color="success" (click)="goWatch()">
      <ion-icon name="eye-outline"></ion-icon>
    </ion-fab-button>
    <!-- Botón crear podcasts -->
    <ion-fab-button color="primary" (click)="goAction()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
