<ion-toolbar id="vfToolbar">
  <!-- Volver a home -->
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group">
      <ion-row>
        <ion-col class="d-flex justify-content-around">
          <!-- TIEMPO DE USO -->
          <ion-button
            type="button"
            (click)="goHome()"
            color="dark"
            shape="round"
            size="large"
          >
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-toolbar>
