#vfPodcastPic {
  margin-top: 30px;
  height: 90px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#vfLink {
  margin-top: 30px;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#vfHomeSlide2 {
  padding-top: 10px;
  background: #213061;
}

#vfSlide {
  padding-bottom: 20px;
  background: #213061;
}
