<!-- Slides -->
<ion-slides id="vfHomeSlide2">
  <!-- Clara -->
  <ion-slide id="vfSlide">
    <a href="https://www.youtube.com/@ClaraCarmona" target="_blank">
      <img
        id="vfPodcastPic"
        alt="Clara Carmona"
        src="../../assets/pics/home/1.jpg"
      />
    </a>
    <a
      href="https://www.youtube.com/@ClaraCarmona"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
    >
      Clara Carmona
    </a>
  </ion-slide>
  <!-- The Wild Project -->
  <ion-slide id="vfSlide">
    <a href="https://www.youtube.com/@TheWildProject" target="_blank">
      <img
        id="vfPodcastPic"
        alt="The Wild Project"
        src="../../assets/pics/home/6.jpg"
      />
    </a>
    <a
      href="https://www.youtube.com/@TheWildProject"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
      >The Wild Project
    </a>
  </ion-slide>
  <!-- Adrá Solá Pastor -->
  <ion-slide id="vfSlide">
    <a href="https://www.youtube.com/@AdriaSolaPastor" target="_blank">
      <img id="vfPodcastPic" alt="Adria" src="../../assets/pics/home/2.jpg" />
    </a>
    <a
      href="https://www.youtube.com/@AdriaSolaPastor"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
      >Adriá Solá Pastor
    </a>
  </ion-slide>
  <!-- Charlando tranquilamente -->
  <ion-slide id="vfSlide">
    <a href="https://www.youtube.com/@CharlandoTranquilamente" target="_blank">
      <img
        id="vfPodcastPic"
        alt="Charlando"
        src="../../assets/pics/home/3.jpg"
      />
    </a>
    <a
      href="https://www.youtube.com/@CharlandoTranquilamente"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
      >Charlando tranquilamente
    </a>
  </ion-slide>
  <!-- Yo Interneto -->
  <ion-slide id="vfSlide">
    <a href="https://www.youtube.com/@YoInterneto" target="_blank">
      <img
        id="vfPodcastPic"
        alt="Yo Interneto"
        src="../../assets/pics/home/4.jpg"
      />
    </a>
    <a
      href="https://www.youtube.com/@YoInterneto"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
      >Yo, Interneto
    </a>
  </ion-slide>
  <!-- Jordi Wu -->
  <ion-slide>
    <a href="https://www.youtube.com/@JordiWu" target="_blank">
      <img id="vfPodcastPic" alt="Jordi" src="../../assets/pics/home/5.jpg" />
    </a>
    <a
      href="https://www.youtube.com/@JordiWu"
      target="_blank"
      class="mt-3 text-white ps-2 fs-4 fw-bold text-decoration-none"
      >Jordi Wu
    </a>
  </ion-slide>
</ion-slides>
