  #vfPodcastPic{
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  
  #vfPodcastLb{
    padding-left: 10px;
  }
  
  #vfHomeSlide2{
  padding-top: 10px;
  }
  
  