<ion-slides id="vfHomeSlide2">
  <ion-slide id="vfSlide">
    <img
      id="vfPodcastPic"
      alt="Clara Carmona"
      src="../../assets/pics/home/1.jpg"
    />
    <a href="https://www.youtube.com/@ClaraCarmona" target="_blank" id="vfLink"
      >Clara Carmona
    </a>
  </ion-slide>
  <ion-slide id="vfSlide">
    <img
      id="vfPodcastPic"
      alt="The Wild Project"
      src="../../assets/pics/home/6.jpg"
    />
    <a
      href="https://www.youtube.com/@TheWildProject"
      target="_blank"
      id="vfLink"
      >The Wild Project
    </a>
  </ion-slide>
  <ion-slide id="vfSlide">
    <img
      id="vfPodcastPic"
      alt="The Wild Project"
      src="../../assets/pics/home/2.jpg"
    />
    <a
      href="https://www.youtube.com/@AdriaSolaPastor"
      target="_blank"
      id="vfLink"
      >Adriá Solá Pastor
    </a>
  </ion-slide>
  <ion-slide id="vfSlide">
    <img id="vfPodcastPic" alt="Charlando" src="../../assets/pics/home/3.jpg" />
    <a
      href="https://www.youtube.com/@CharlandoTranquilamente"
      target="_blank"
      id="vfLink"
      >Charlando tranquilamente
    </a>
  </ion-slide>
  <ion-slide id="vfSlide">
    <img
      id="vfPodcastPic"
      alt="Yo Interneto"
      src="../../assets/pics/home/4.jpg"
    />
    <a href="https://www.youtube.com/@YoInterneto" target="_blank" id="vfLink"
      >Yo Interneto
    </a>
  </ion-slide>
  <ion-slide>
    <img id="vfPodcastPic" alt="Jordi" src="../../assets/pics/home/5.jpg" />
    <a href="https://www.youtube.com/@JordiWu" target="_blank" id="vfLink"
      >Jordi Wu
    </a>
  </ion-slide>
</ion-slides>
