<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="mb-3">
      <label class="form-label">Título</label>
      <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea class="form-control" cols="30" rows="10" formControlName="description"></textarea>
  </div>
  <div class="mb-3">
      <label class="form-label">Autor</label>
      <input type="text" class="form-control" formControlName="author">
  </div>
  <div class="mb-3">
      <label class="form-label">Temática</label>
      <input type="text" class="form-control" formControlName="theme">
  </div>
  <div class="mb-3">
      <label class="form-label">Portada</label>
      <input type="text" class="form-control" formControlName="image">
  </div>
  <input type="submit" value="Enviar" class="btn btn-info">
</form>