<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <label class="form-label" id="vfFormLbHd">Título</label>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      fill="outline"
      formControlName="name"
      rows="2"
      id="vfFormInput"
    />
  </div>
  <label class="form-label" id="vfFormLb">Autor</label>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="author"
      id="vfFormInput"
    />
  </div>
  <label class="form-label" id="vfFormLb">Temática</label>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="theme"
      id="vfFormInput"
    />
  </div>
  <label class="form-label" id="vfFormLb">Portada</label>
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="image"
      id="vfFormInput"
    />
  </div>
  <ion-button type="submit" value="Enviar" shape="round" color="success" id="vfSubmit">CREAR</ion-button>
</form>
