<!-- Formulario -->
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <!-- Campo título -->
  <label class="form-label mt-2 w-100 fs-4 fw-bold text-center m-auto p-2"
    >Título</label
  >
  <div class="mb-3">
    <input
      type="text"
      class="form-control d-flex w-50 m-auto bg-transparent text-white"
      fill="outline"
      formControlName="name"
      rows="2"
    />
  </div>
  <!-- Campo autor -->
  <label class="form-label mt-2 w-100 fs-4 fw-bold text-center m-auto p-2"
    >Autor</label
  >
  <div class="mb-3">
    <input
      type="text"
      class="form-control d-flex w-50 m-auto bg-transparent text-white"
      formControlName="author"
    />
  </div>
  <!-- Campo temática -->
  <label class="form-label mt-2 w-100 fs-4 fw-bold text-center m-auto p-2"
    >Temática</label
  >
  <div class="mb-3">
    <input
      type="text"
      class="form-control d-flex w-50 m-auto bg-transparent text-white"
      formControlName="theme"
    />
  </div>
  <label class="form-label mt-2 w-100 fs-4 fw-bold text-center m-auto p-2"
    >Plataforma</label
  >
  <div class="mb-3">
    <input
      type="text"
      class="form-control d-flex w-50 m-auto bg-transparent text-white"
      formControlName="platform"
    />
  </div>
  <!-- Botón enviar -->
  <button
    type="submit"
    value="Enviar"
    (click)="presentToast('top')"
    class="btn btn-success btn-lg d-flex m-auto fw-bold"
  >
    CREAR
  </button>
</form>
