#vfToolbar {
  --background: #213061;
}

#vfVersion {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

#vfVersionDiv {
  text-align: center;
  padding-bottom: 15px;
}
