<!-- Version voice finder + fecha actual -->
<div id="vfVersionDiv">
  <ion-label id="vfVersion"
    >Voice Finder v1.0 {{ currentDate | date : "dd/MM/yyyy" }}</ion-label
  >
</div>

<!-- Toolbar -->
<ion-toolbar id="vfToolbar">
  <div class="d-flex justify-content-center">
    <ion-button
        type="button"
        (click)="goHome()"
        color="dark"
        shape="round"
        size="large"
    >
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </div>
</ion-toolbar>

