<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title class="justify-content-center d-flex text-center fs-2 fw-bold">
      Entrevistas
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Contenido de categoría interview -->
  <app-interview-content></app-interview-content>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter" class="ion-no-border">
  <app-interview-footer></app-interview-footer>
</ion-footer>
