<!-- Voice finder -->
<div id="vfUpdates">
  <ion-label id="vfLabel">Actualizaciones</ion-label>
  <!-- Versión actual -->
  <ion-item id="vfItem">
    <ion-label>Versión actual: Voice Finder v1.0 </ion-label>
  </ion-item>

  <!-- Siguiente actualización -->
  <ion-item id="vfItem">
    <ion-label>Siguiente actualización: 20/08/2023 </ion-label>
  </ion-item>
</div>

<!-- Software -->
<div id="vfVersion">
  <ion-label id="vfLabel">Versiones</ion-label>
  <!-- Versión de ionic -->
  <ion-item id="vfItem">
    <ion-label>Ionic: 6.20.4 </ion-label>
  </ion-item>

  <!-- Versión de Capacitor -->
  <ion-item id="vfItem">
    <ion-label>Capacitor: 4.6.3 </ion-label>
  </ion-item>

  <!-- Versión de Node -->
  <ion-item id="vfItem">
    <ion-label>Node: 18.12.1 </ion-label>
  </ion-item>

  <!-- Versión de Angular -->
  <ion-item id="vfItem">
    <ion-label>Angular: 15.1.5 </ion-label>
  </ion-item>
</div>
