<!-- Podcasts random -->
<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Radio Pirata</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >Iván, Yute, Jaume, Andrés y Diego</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Nadie sabe nada</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >Andreu Buenafuente y Berto Romero</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Yo interneto</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >SrCheeto, Dario Eme Hache y Orslok</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>
