<ion-card>
  <ion-card-header>
    <ion-card-title>Radio Pirata</ion-card-title>
    <ion-card-subtitle>Iván, Yute, Jaume, Andrés y Diego</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Plataformas disponibles:
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Nadie sabe nada</ion-card-title>
    <ion-card-subtitle>Andreu Buenafuente y Berto Romero</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Plataformas disponibles:
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Yo interneto</ion-card-title>
    <ion-card-subtitle>SrCheeto, Dario Eme Hache y Orslok</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Plataformas disponibles: 
  </ion-card-content>
</ion-card>