<!-- Podcasts random -->
<ion-card class="w-50 border border-1 border-white m-auto text-center mt-3">
  <ion-card-header>
    <ion-card-title class="text-white fw-bold">Radio Pirata</ion-card-title>
    <ion-card-subtitle class="text-white fw-bold"
      >Iván, Yute, Jaume, Andrés y Diego</ion-card-subtitle
    >
    <ion-card-subtitle class="text-white fw-bold"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a
      href="https://open.spotify.com/show/5Mg3dHwGt0yvKPA9t2pRVO"
      target="_blank"
    >
      <img
        src="../../../../assets/pics/home/spotify.png"
        alt="spotify"
        id="vfSpotify"
      />
    </a>
    <a href="https://www.youtube.com/c/RadioPirata"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube"
    /></a>
    <a
      href="https://podcasts.apple.com/es/podcast/radio-pirata/id1546641448"
      ><img
        src="../../../../assets/pics/home/apple.png"
        alt="apple"
        id="vfApple"
    /></a>
    <a
      href="https://www.ivoox.com/podcast-radio-pirata_sq_f11142331_1.html"
      ><img
        src="../../../../assets/pics/home/ivoox.png"
        alt="ivoox"
        id="vfIvoox"
    /></a>
  </ion-card-header>
</ion-card>

<ion-card class="w-50 border border-1 border-white m-auto text-center mt-3">
  <ion-card-header>
    <ion-card-title class="text-white fw-bold">Nadie sabe nada</ion-card-title>
    <ion-card-subtitle class="text-white fw-bold"
      >Andreu Buenafuente y Berto Romero</ion-card-subtitle
    >
    <ion-card-subtitle class="text-white fw-bold"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a
      href="https://open.spotify.com/show/1jXeGsr1X2gpss332C8cAw"
      target="_blank"
    >
      <img
        src="../../../../assets/pics/home/spotify.png"
        alt="spotify"
        id="vfSpotify"
      />
    </a>
    <a href="https://www.youtube.com/c/NadieSabeNada"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube"
    /></a>
    <a
      href="https://podcasts.apple.com/es/podcast/nadie-sabe-nada/id665143133"
      ><img
        src="../../../../assets/pics/home/apple.png"
        alt="apple"
        id="vfApple"
    /></a>
    <a
      href="https://www.ivoox.com/podcast-nadie-sabe-nada-buenafuente-berto_sq_f173407_1.html"
      ><img
        src="../../../../assets/pics/home/ivoox.png"
        alt="ivoox"
        id="vfIvoox"
    /></a>
  </ion-card-header>
</ion-card>

<ion-card class="w-50 border border-1 border-white m-auto text-center mt-3">
  <ion-card-header>
    <ion-card-title class="text-white fw-bold">Yo, Interneto</ion-card-title>
    <ion-card-subtitle class="text-white fw-bold"
      >SrCheeto, Dario Eme Hache y Orslok</ion-card-subtitle
    >
    <ion-card-subtitle class="text-white fw-bold"
      >Plataformas disponibles:</ion-card-subtitle
    >
    <a
      href="https://open.spotify.com/show/3JA5JJBoKJ5DGsNmGUx966"
      target="_blank"
    >
      <img
        src="../../../../assets/pics/home/spotify.png"
        alt="spotify"
        id="vfSpotify"
      />
    </a>
    <a href="https://www.youtube.com/c/YoInterneto"
      ><img
        src="../../../../assets/pics/home/youtube.png"
        alt="youtube"
        id="vfYoutube"
    /></a>
    <a
      href="https://podcasts.apple.com/es/podcast/yo-interneto/id1455460444"
      ><img
        src="../../../../assets/pics/home/apple.png"
        alt="apple"
        id="vfApple"
    /></a>
    <a
      href="https://www.ivoox.com/podcast-yo-interneto_sq_f1669431_1.html"
      ><img
        src="../../../../assets/pics/home/ivoox.png"
        alt="ivoox"
        id="vfIvoox"
    /></a>
  </ion-card-header>
</ion-card>
