<!-- Video de YouTube -->
<div>
  <iframe
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    class="border-0 d-flex m-auto"
    width="320"
    height="215"
    src="https://www.youtube.com/embed/sRp7vkPb2TA?autoplay=1"
  >
  </iframe>
</div>

<!-- Información sobre modales -->
<ion-card class="m-auto mt-4 d-block w-50">
  <ion-card-content class="text-white fw-bold text-center">
    Hay más vídeos distribuidos en la aplicación, puede verlos accediendo al
    botón de saber más.
  </ion-card-content>
</ion-card>
