<!-- Video de YouTube -->
<div id="vfVideo">
  <iframe
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    id="vfFrame"
    width="320"
    height="215"
    src="https://www.youtube.com/embed/sRp7vkPb2TA?autoplay=1"
  >
  </iframe>
</div>

<!-- Información sobre modales -->
<ion-card id="vfCard">
  <ion-card-content id="vfContent">
    Hay más vídeos distribuidos en la aplicación, puede verlos accediendo al
    botón de saber más.
  </ion-card-content>
</ion-card>
