#vfFrame {
  border: none;
}

#vfAvatar {
  display: flex;
  justify-content: center;
  margin: auto;
}

#vfVideo {
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}

#vfCard {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  display: block;
}

#vfContent {
  color: white;
  font-weight: bold;
  text-align: center;
}
