<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Tiempo de uso </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Info -->
  <app-use-time-info></app-use-time-info>

  <!-- Gráfico -->
  <div><app-use-time-videos></app-use-time-videos></div>

  <!-- Saber más -->
  <app-use-time-modal></app-use-time-modal>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter">
  <app-use-time-footer></app-use-time-footer>
</ion-footer>
