<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title class="justify-content-center d-flex text-center fs-2 fw-bold">
      Aplicaciones más usadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Info (más usadas) -->
  <app-use-time-info></app-use-time-info>

  <!-- Enlaces -->
  <app-use-time-videos></app-use-time-videos>

  <!-- Saber más (más usadas) -->
  <app-use-time-modal></app-use-time-modal>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter" class="ion-no-border">
  <app-use-time-footer></app-use-time-footer>
</ion-footer>
