<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">The Wild Projet</ion-card-title>
    <ion-card-subtitle id="vfSubCard">Jordi Wild</ion-card-subtitle>
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Nude Project</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >Bruno Casanovas y Alex Benlloch</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>

<ion-card id="vfCard">
  <ion-card-header>
    <ion-card-title id="vfHeadCard">Club 113</ion-card-title>
    <ion-card-subtitle id="vfSubCard"
      >Goorgo, Nil Ojeda y Werlyb</ion-card-subtitle
    >
    <ion-card-subtitle id="vfSubCard"
      >Plataformas disponibles:</ion-card-subtitle
    >
  </ion-card-header>
</ion-card>
