#vfSubCard {
  color: white;
  font-weight: bold;
}

#vfHeadCard {
  color: white;
  font-weight: bold;
}

#vfButton {
  background-color: rgb(207, 207, 207);
}

#vfSpotify{
  margin-top: 10px;
  width: 40px;
}

#vfYoutube{
  margin-left: 40px;
  width: 45px;
}

#vfApple{
  margin-left: 40px;
  width: 35px;
}

#vfIvoox{
  margin-left: 40px;
  width: 40px;
}
