ion-content {
  --ion-background-color: #213061;
  --overflow: hidden;
}

#vfButton{
  margin-left: 45px;
  margin-top: 55px;
  width: 80%;
  height: 60px;
}

#vfToolbar {
  --background: #4a6cdf;
}

#vfH1{
  font-weight: bold;
  text-align: center;
}

#vfP{
  font-size: 20px;
  text-align: center;
}



