<!-- Botón abrir modal -->
<ion-button
  expand="block"
  shape="round"
  color="success"
  id="vfButton"
  (click)="setOpen(true)"
  >GUÍA DE USO</ion-button
>
<!-- Contenido de modal -->
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar id="vfToolbar">
        <ion-title id="vfBtnTitle">GUÍA DE USO</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h1 id="vfH1">CATEGORÍAS</h1>
      <p id="vfP">
        Puedes acceder a las categorías para ver información detallada de
        podcast famosos y acceder distintos canales recomendados.
      </p>
      <h1 id="vfH1">PODCAST</h1>
      <p id="vfP">
        Se pueden crear y visualizar podcast desde el botón del micrófono.
      </p>
      <h1 id="vfH1">TIMELAPSE</h1>
      <p id="vfP">
        Accede a los apartados de timelapse con el botón de abajo a la
        izquierda.
      </p>
      <h1 id="vfH1">USUARIO</h1>
      <p id="vfP">
        Para cerrar sesión, accede a la pestaña de usuario desde el botón de
        arriba a la derecha.
      </p>
      <h1 id="vfH1">INFORMACIÓN</h1>
      <p id="vfP">La versión del software se encuentra abajo a la derecha.</p>
    </ion-content>
  </ng-template>
</ion-modal>
