ion-content {
  --ion-background-color: #213061;
  --overflow: hidden;
}

#vfButton {
  margin-left: 75px;
  margin-top: 25px;
  width: 60%;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
}

#vfBtnTitle {
  font-weight: bold;
}

#vfToolbar {
  --background: #4a6cdf;
}

#vfH1 {
  font-weight: bold;
  text-align: center;
}

#vfP {
  font-size: 20px;
  text-align: center;
}
