ion-content {
  --ion-background-color: #213061;
}

#vfTitulo {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

#vfToolbar {
  --background: #4a6cdf;
}

#vfLogo {
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
