<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Perfil de usuario </ion-title>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">
  <!-- Logo vf -->
  <img src="../../assets/pics/login/logoVf.png" id="vfLogo" />

  <!-- Botón logout -->
  <app-home-user></app-home-user>
</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter" class="ion-no-border">
  <app-profile-footer></app-profile-footer>
</ion-footer>
