ion-button {
  --box-shadow: none;
}

#vfTitulo {
  justify-content: center;
  margin-left: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

#vfUser {
  color: white;
  height: auto;
  margin-bottom: 20px;
}

#vfToolbarTop {
  --background: #4a6cdf;
}
