<!-- Botón modal -->
<div id="vfModal">
  <ion-button id="open-modal" shape="round" size="large" color="success"
    >SABER MÁS</ion-button
  >
</div>

<!-- Contenido modal -->
<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="block">
      <img id="vfPodcastPic" alt="Adria" src="../../assets/pics/home/1.jpg" />
      <a href="https://youtu.be/UyB_aqCvjkg" target="_blank" id="vfLink"
        >Ideas de organización
      </a>
    </div>
    <div class="block">
      <img id="vfPodcastPic" alt="Adria" src="../../assets/pics/home/5.jpg" />
      <a href="https://youtu.be/D_9VgBPNwNY" target="_blank" id="vfLink"
        >Dejar de sobrepensar
      </a>
    </div>
  </ng-template>
</ion-modal>
