ion-content{
  --ion-background-color: #1390aa;
}

#form{
  background-color: transparent !important;
}

#footer{
  background-color: transparent !important;
}



ion-item{
  font-size: 20px;
  font-weight: bold;
}

#btn1{
  color: red;
}

