<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Voice Finder </ion-title>

    <!-- INFO PODCAST -->
    <ion-button
      style="padding-top: 20px"
      type="button"
      (click)="goUser()"
      color="translucent"
      shape="round"
      size="large"
      slot="end"
    >
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content delegate-handle="mainScroll" [fullscreen]="true">

  <!-- Bienvenida -->
  <ion-card id="vfHomeSpace">
    <img alt="Silhouette of mountains" src="../../assets/pics/home/diary.jpg" />
    <ion-card-header>
      <ion-card-title id="vfCardTitle">MI ESPACIO</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Categorías  -->
  <ion-label id="vfHomeLb">MUNDO PODCAST</ion-label>

  <ion-slides>
    <ion-slide>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title id="vfHeadCard">ENTREVISTAS</ion-card-title>
          <ion-card-subtitle id="vfSubCard">The Wild Project, El sentido de la birra, Club 113 </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="secondary">
        <ion-card-header>
          <ion-card-title id="vfHeadCard">CULTURA POP</ion-card-title>
          <ion-card-subtitle id="vfSubCard">Raideos y Mazmorras, Charlando tranquilamente, Yo Interneto</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="success">
        <ion-card-header>
          <ion-card-title id="vfHeadCard">RANDOM</ion-card-title>
          <ion-card-subtitle id="vfSubCard">Radio Pirata, Nadie sabe nada, Familia de libro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- Recomendados  -->
  <ion-label id="vfHomeLb">CREADORES RECOMENDADOS</ion-label>

  <ion-slides id="vfHomeSlide2">
    <ion-slide>
          <img id="vfPodcastPic" alt="Adria Sola Pastor" src="../../assets/pics/home/1.jpg" />
          <ion-label id="vfPodcastLb">The Wild Project</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="The Wild Project" src="../../assets/pics/home/2.jpg" />
          <ion-label id="vfPodcastLb">Adria Sola Pastor</ion-label>
    </ion-slide>
    <ion-slide>
          <img  id="vfPodcastPic"alt="Jordi Wu" src="../../assets/pics/home/3.jpg" />
          <ion-label id="vfPodcastLb">Charlando tranquilamente</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="Charlando tranquilamente" src="../../assets/pics/home/4.jpg" />
          <ion-label id="vfPodcastLb">Yo Interneto</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="Yo Interneto" src="../../assets/pics/home/5.jpg" />
          <ion-label id="vfPodcastLb">Jordi Wu</ion-label>
    </ion-slide>
  </ion-slides>
</ion-content>

<!-- Footer -->
<ion-footer id="vfFooter" collapse="fade">
  <ion-toolbar id="vfToolbar">
    <!-- Botones -->
    <div class="row" style="display: flex; justify-content: center">
      <div class="col-md-9 col-md-offset-9 col-xs-12 text-right">
        <div class="btn-group" role="group">
          <ion-row>
            <ion-col>
              <!-- TIEMPO DE USO -->
              <ion-button
                style="padding-right: 25px"
                type="button"
                (click)="goTime()"
                color="translucent"
                shape="round"
                size="large"
              >
                <ion-icon name="hourglass-outline"></ion-icon>
              </ion-button>

              <!-- CREAR PODCAST -->
              <ion-button
                type="button"
                (click)="goAction()"
                color="dark"
                shape="round"
                size="large"
              >
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>

              <!-- INFO PODCAST -->
              <ion-button
                style="padding-left: 25px"
                type="button"
                (click)="goInfo()"
                color="translucent"
                shape="round"
                size="large"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
