<!-- Header -->
<ion-header [translucent]="true">
  <!-- Toolbar -->
  <ion-toolbar id="vfToolbar">
    <!-- Título -->
    <ion-title id="vfTitulo"> Voice Finder </ion-title>

    <!-- INFO PODCAST -->
    <ion-button
      style="padding-top: 20px"
      type="button"
      (click)="goUser()"
      color="translucent"
      shape="round"
      size="large"
      slot="end"
    >
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<!-- Comienzo del content -->
<ion-content [fullscreen]="true">

  <!-- Bienvenida -->
  <!-- Notas y mis podcast -->
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Mi espacio</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Categorías  -->
  <ion-label id="vfHomeLb">Mundo podcast</ion-label>

  <ion-slides>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Entrevistas</ion-card-title>
          <ion-card-subtitle>The Wild Project, El sentido de la birra, Club 113 </ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Cultura POP</ion-card-title>
          <ion-card-subtitle>Raideos y Mazmorras, Charlando tranquilamente, Yo Interneto</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Random</ion-card-title>
          <ion-card-subtitle>Radio Pirata, Nadie sabe nada, Familia de libro</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <!-- Recomendados  -->
  <ion-label id="vfHomeLb">Podcasts/Canales recomendados</ion-label>

  <ion-slides>
    <ion-slide>
          <img id="vfPodcastPic" alt="Adria Sola Pastor" src="../../assets/pics/1.jpg" />
          <ion-label id="vfPodcastLb">Adria Sola Pastor</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="The Wild Project" src="../../assets/pics/2.jpg" />
          <ion-label id="vfPodcastLb">The Wild Project</ion-label>
    </ion-slide>
    <ion-slide>
          <img  id="vfPodcastPic"alt="Jordi Wu" src="../../assets/pics/3.jpg" />
          <ion-label id="vfPodcastLb">Jordi Wu</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="Charlando tranquilamente" src="../../assets/pics/4.jpg" />
          <ion-label id="vfPodcastLb">Charlando tranquilamente</ion-label>
    </ion-slide>
    <ion-slide>
          <img id="vfPodcastPic" alt="Yo Interneto" src="../../assets/pics/5.jpg" />
          <ion-label id="vfPodcastLb">Yo Interneto</ion-label>
    </ion-slide>
  </ion-slides>

</ion-content>

<!-- Footer -->
<ion-footer collapse="fade" id="vfFooter">
  <ion-toolbar id="vfToolbar">
    <!-- Botones -->
    <div class="row" style="display: flex; justify-content: center">
      <div class="col-md-9 col-md-offset-9 col-xs-12 text-right">
        <div class="btn-group" role="group">
          <ion-row>
            <ion-col>
              <!-- TIEMPO DE USO -->
              <ion-button
                style="padding-right: 25px"
                type="button"
                (click)="goTime()"
                color="translucent"
                shape="round"
                size="large"
              >
                <ion-icon name="hourglass-outline"></ion-icon>
              </ion-button>

              <!-- CREAR PODCAST -->
              <ion-button
                type="button"
                (click)="goAction()"
                color="dark"
                shape="round"
                size="large"
              >
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>

              <!-- INFO PODCAST -->
              <ion-button
                style="padding-left: 25px"
                type="button"
                (click)="goInfo()"
                color="translucent"
                shape="round"
                size="large"
              >
                <ion-icon name="information-circle-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
