<ion-item detail id="vfItem" href="https://gamequitters.com/tiktok-addiction/">
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/tiktok.png" />
  </ion-avatar>
  <ion-label>
    <h2>TikTok</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://gamequitters.com/stop-instagram-addiction/"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/instagram.png" />
  </ion-avatar>
  <ion-label>
    <h2>Instagram</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://www.panspy.com/parental-control/how-to-stop-being-addicted-to-snapchat.html"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/snapchat.png" />
  </ion-avatar>
  <ion-label>
    <h2>Snapchat</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://lifehacker.com/how-to-curb-your-twitter-addiction-1840927690"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/twitter.png" />
  </ion-avatar>
  <ion-label>
    <h2>Twitter</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://www.vice.com/en/article/aked58/bereal-is-the-only-good-social-media-app"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/bereal.png" />
  </ion-avatar>
  <ion-label>
    <h2>BeReal</h2>
  </ion-label>
</ion-item>
