<ion-item
  detail
  id="vfItem"
  href="https://www.reporteindigo.com/piensa/tiktok-la-droga-tecnologica-que-provoca-en-tu-cerebro-que-lo-hace-tan-adictivo/"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/tiktok.png" />
  </ion-avatar>
  <ion-label>
    <h2>TikTok</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://www.ivanesalud.com/adiccion-a-instagram-un-problema-detras-de-una-diversion/"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/instagram.png" />
  </ion-avatar>
  <ion-label>
    <h2>Instagram</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://elraptorblog.com/2017/04/la-adiccion-a-snapchat/"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/snapchat.png" />
  </ion-avatar>
  <ion-label>
    <h2>Snapchat</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://www.abc.es/tecnologia/abci-twitter-adicto-201102080000_noticia.html"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/twitter.png" />
  </ion-avatar>
  <ion-label>
    <h2>Twitter</h2>
  </ion-label>
</ion-item>
<ion-item
  detail
  id="vfItem"
  href="https://www.foromarketing.com/bereal-la-perdicion-adictos-las-redes-sociales/"
>
  <ion-avatar slot="start" id="vfAvatar">
    <img src="../../../../assets/pics/useTime/bereal.png" />
  </ion-avatar>
  <ion-label>
    <h2>BeReal</h2>
  </ion-label>
</ion-item>
