#vfCard {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 90%;
    --background: transparent;
  }
  
  #vfTitle {
    text-align: center;
    color: white;
  }
  
  #vfSub {
    text-align: center;
    color: white;
  }
  
  #vfContent {
    text-align: center;
    color: white;
  }
  