<ion-toolbar id="vfToolbar">
  <!-- Botones -->
  <div class="d-flex justify-content-center">
    <div class="btn-group" role="group">
      <ion-row>
        <ion-col class="d-flex justify-content-around">
          <!-- TIEMPO DE USO -->
          <ion-button
            type="button"
            (click)="goTime()"
            color="translucent"
            shape="round"
            size="large"
          >
            <ion-icon name="hourglass-outline"></ion-icon>
          </ion-button>
            <app-home-fabbutton></app-home-fabbutton>

          <!-- INFO PODCAST -->
          <ion-button
            type="button"
            (click)="goInfo()"
            color="translucent"
            shape="round"
            size="large"
          >
            <ion-icon name="information-circle-outline"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-toolbar>

